
.aboutMePara{
    color: white;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

.aboutMeSection{
    width: 100%;
    height: 750px;
    background-color: #323232;
}

.arrow-down {
    -webkit-clip-path: polygon(49% 100%, 0 0, 100% 0);
    clip-path: polygon(49% 100%, 0 0, 100% 0);
    padding-top: 50px;
    background-color: #454545;
    height: 196px;
}

.bottomIcons{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.bottomLinks{
    color: white;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Lobster', cursive; 
    display: flex;
    margin-right: 5px;
}

.cardsTop{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 75px;
}

.cardsBottom{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 75px;
    z-index: 1;
}

.contactSection{
    width: 100%;
    height: 935px;
    background-color: #323232;
    margin-top: 75px;
}

.gitHubWhite{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.introBack{
    background-image: url('../Assets/0b1e69ca63199afcb690ecf29ad6bcb9.jpg');
    width: 100%;
    height: 670px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.introducePara{
    width: 479px; 
    height: 572px; 
    font-Size: 20px; 
    margin-Left: 115px
}

.linkBoxes{
    display: flex;
    justify-Content: center;
    margin-right: 40px;
}

.lowerSectionBar{
    width: 100%;
    height: 75px;
    background-color: #454545;
    margin-top: 30px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.mainBack{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    background-color: #323232;
}

.myName{
    font-size: 85px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    margin-Bottom: 10px;
}

.myTitle{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #51E516;
    margin-Top: 10px;
    font-weight: 300
}

.oppositePolygons1{
    -webkit-clip-path: polygon(0 85%, 0 100%, 100% 100%);
    clip-path: polygon(0 40%, 0 100%, 100% 100%);
    background-color: #454545;
    height: 180px;
}

.oppositePolygons2{
    -webkit-clip-path: polygon(100% 20%, 0 100%, 100% 100%);
    clip-path: polygon(100% 20%, 0 100%, 100% 100%);
    background-color: #585858;
    height: 196px;
    position: relative;
    bottom: 170px;
}

.projectCard{
    width: 285px; 
    height: 475px;
    color: white;
    /* border: 1px solid white; */
    margin: 10px 20px;
    background-color: #454545;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.projectCardInfo{
    margin-Top: 20px;
    font-Size: 35px;
    font-Family: lobster, cursive;
    font-Weight: 300;
}

.projectImage{
    width: 285px;
    height: 290px;
    /* border: 1px solid white; */
}

.projectSection{
    width: 100%;
    height: 775px;
    background-color: #323232;
}

.skillCard{
    width: 200px;
    height: 240px;
    /* border: 1px solid white; */
}

.skillLogo{
    width: 116px; 
    height: 137px;
    margin-Top: 30px;
}

.skillName{
    color: #51E516;
    margin-Top: 20px;
    font-size: 20px;
    font-family: lobster, cursive;
    font-weight: 300;
    
}

.skillsSection{
    width: 100%;
    height: 700px;
    background-color: #323232;
    z-index: -1;
}

.slideTop{
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
    clip-path: polygon(0 100%, 0 0, 100% 0);
    background-color: #454545;
    height: 196px;
    
}

.slideDown{
    -webkit-clip-path: polygon(100% 0%, 0 100%, 100% 100%);
    clip-path: polygon(100% 0%, 0 100%, 100% 100%);
    background-color: #454545;
    height: 196px;
    margin-top: 0px;
    position: relative;
    bottom: 195px;
    /* z-index: -1; */
}

#backBtn{
    border: none;
    background-color: transparent;
    color: white;
    margin-top: 50px;
    font-size: 25px;
}

#linky {
    margin-left: 10px;
    font-weight: 300;
    color: #51E516
}